**

!htdocs
!htdocs/index.html

!my-hello-world

!my-hello-world/v01.01
!my-hello-world/v01.01/docker-entrypoint.sh
!my-hello-world/v01.01/Dockerfile

!my-hello-world/v01.01/app
!my-hello-world/v01.01/app/index.js

!my-hello-world/v01.02
!my-hello-world/v01.02/Dockerfile

!my-hello-world/v01.02/app
!my-hello-world/v01.02/app/index.js
!my-hello-world/v01.02/app/package-lock.json
!my-hello-world/v01.02/app/package.json

!volumes
!volumes/.gitkeep

!.gitignore
!README.md
